.team-aside-container {
  width: 26rem;
  background-color: var(--black-100);
  padding: 2.4rem;
  border-radius: 0.8rem;
  color: var(--typography);

  .members-list {
    margin: 2.4rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }

  .special-thanks {
    margin-bottom: 2.4rem;
  }
}
