.team-member-card {
  list-style: none;

  &-wrapper {
    display: grid;
    grid-template: 1fr auto / 6.4rem 1fr;
    grid-template-areas: 'avatar name' 'avatar media';
    align-items: center;
    column-gap: 1.6rem;
    row-gap: 0.8rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--typography);

    .avatar {
      grid-area: avatar;
      height: 6.4rem;
      width: 6.4rem;
      border-radius: 50%;
    }

    .social-media-container {
      grid-area: media;
      display: flex;
      justify-content: space-between;

      .icon-button {
        background-color: var(--secondary-variant-900);
        transition: background 0.3s ease-in-out;

        &:hover {
          background-color: var(--secondary-200);
        }
      }
    }
  }
}
