.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  row-gap: 3.2rem;

  .app-boilerplate-title {
    color: red;
  }

  .boilerplate-image {
    height: 10rem;
    width: 12rem;
  }
}
